<form
    action="https://buttondown.com/api/emails/embed-subscribe/byedit"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.com/byedit', 'popupwindow')"
    class="subscribe-form"
    autocomplete="off"
>

    <div class="subscribe-fields">
        <input type="email" name="email" id="bd-email" placeholder="Subscribe for Weekly posts" required />
        <button type="submit" id="submit-button" style="display:none;">Subscribe</button>
    </div>
    
    <div class="form-message" style="display:none;"></div>
</form>

