<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="site-header">
        <h1 class="site-title">{{ site.title }}</h1>
        <p class="site-description">{{ site.description }}</p>
        <nav class="site-nav">
          <!-- <a class="site-nav-item" href="/">Home</a>
          <a class="site-nav-item" href="/about/">About</a> -->
          <!-- Add more navigation links as needed -->
        </nav>
      </header>
      <main class="site-content container">
        {% if site.posts.size > 0 %}
          <ul class="post-list">
            {% for post in site.posts %}
              <li class="post-list-item">
                <!-- <a href="{{ post.url }}" class="post-list-title">{{ post.title }}</a> -->
                  <h2>{{ post.title }}</h2>
                <!-- <span class="post-list-date">{{ post.date | date: "%B %d, %Y" }}</span> -->
                <p class="post-list-excerpt">{{ post.excerpt | strip_html | truncate: 160 }}</p>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No posts found.</p>
        {% endif %}
      </main>
      <footer class="site-footer">
        {% include subscribe.html %}
      </footer>
    </div>
  </body>
</html>
